@charset "UTF-8";
/* temporária */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.header {
  background-color: #FF6600;
  width: 100%;
  font-size: 18px;
}
.header .icones {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header li {
  list-style: none;
}
.header li a {
  text-decoration: none;
}
.header .botaoinfo {
  margin-right: 30px;
  /* Botão acrescentado */
  color: white;
}
.header .botaoinfo i:hover {
  transition: 0.5s;
  color: #ccc;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex .flex .flex-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24%;
  margin: 3px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

main .jogos {
  background-color: #411b01;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 40px;
}
main .error h1 {
  color: white;
  text-align: center;
}

.conheca-tambem {
  background-color: #FF6600;
  margin-top: 10%;
  margin: 40px;
  padding: 4px;
}
.conheca-tambem p {
  text-align: center;
  color: white;
  font: Raleway;
}

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.08);
}

.card-conheca {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  padding: 32px;
}
.card-conheca .conheca {
  transition: transform 0.3s ease;
}
.card-conheca .conheca:hover {
  transform: scale(1.08);
}

.container {
  display: flex justify-content center gap 4px;
}

/*.jogo-responsive {
    width: 18rem;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.contatoform {
  margin-left: 50%;
}

.botao {
  font-size: 1.2em;
  background-color: #09f101;
  border: 0;
  margin-bottom: 1em;
  color: #fff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px #fff;
  text-shadow: 1px 1px 1px #fff;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background-color: #007427;
  box-shadow: inset 2px 2px 2px #fff;
  text-shadow: none;
}

footer {
  /* ARRUMAR O FOOTER */
  display: flex;
  background-color: #9c3f00;
  color: white;
  margin-top: 40px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

.paragrafofooter p {
  gap: 50px;
}

footer .logofooter {
  width: 100px;
  justify-content: space-between;
}

footer .listagemfooter {
  text-decoration: none;
  color: white;
  padding-top: 35px;
  padding-right: 16px;
}

.pfooter {
  padding-right: 150px;
  padding-left: 16px;
}

.listagemfooter {
  display: none;
}
@media (min-width: 999px) {
  .listagemfooter {
    display: block;
  }
}

@media (max-width: 799px) {
  .membros {
    display: none;
  }
}

@media (min-width: 550px) {
  .membros-mobile .btn-pc {
    display: none;
  }
}
.desktop-game {
  display: none;
}
@media (min-width: 799px) {
  .desktop-game {
    display: block;
  }
}

.jogo-responsive,
.card-membros {
  display: none;
  /* Ou visibility: hidden; */
}

@media (max-width: 800px) {
  .jogo-responsive,
  .card-membros {
    display: block;
    /* Ou o display desejado, como flex, grid, inline-block */
    /* Outros estilos específicos para dispositivos móveis podem ser adicionados aqui */
  }
}
.form {
  display: none;
}

@media (min-width: 560px) {
  .form {
    display: block;
  }
}
.logofooter {
  display: none;
}

@media (min-width: 366px) {
  .logofooter {
    display: block;
  }
}
/*.card-conheca{
    display: none;
}

@media (min-width: 799px) {
    .card-conheca{
        display: block;
    }
} */

/*# sourceMappingURL=style.css.map */
