$primary: #FF6600;
$secondary: #000000;
$tertiary: #e65e03;
$font: Arial, Verdana, Tahoma; /* temporária */
$size: 18px;


* {
    margin: 0;
    padding: 0;
}
body{
    background-color: $secondary;
}
.header{
    background-color: $primary;
    width: 100%;
    font-size: $size;
    .icones{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
    .botaoinfo{
        margin-right: 30px; /* Botão acrescentado */
        color: white;
    }
    .botaoinfo i:hover{
        transition: 0.5s;
        color: #ccc;
    }

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex .flex-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24%;
        margin: 3px;
        box-shadow: 0 0 10px #ccc;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
}
}

main{
    .jogos{
        background-color: $primary;
        color: white;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        margin: 40px;
    }
}

footer{
    background-color: $primary;
    color: white;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
    text-decoration: none;

    .paragrafofooter{
        float: left;
        margin-left: 20px;
    }
    .logofooter{
        width: 100px;
        margin-left: 130px;
    }
    .listagemfooter{
        float: right;
        text-decoration: none;
        padding: 20px;
        color: white;
    }
}

//MEDIA QUERIES
$largura-maxima: 999px; 

.listagemfooter{
    display: none;
    @media (min-width: #{ $largura-maxima }) { 
        display: block; 
    }
}
.botaoinfo {
    display: none; 

    
    @media (min-width: #{ $largura-maxima }) { 
        display: block; 
    }
}
